---
http_interactions:
- request:
    method: get
    uri: https://us1.locationiq.com/v1/search.php?format=json&key=<LOCATIONIQ_TOKEN>&q=Gardens%20Of%20Babylon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '[{"place_id":"73233419","licence":"https:\/\/locationiq.com\/attribution","osm_type":"node","osm_id":"6238105437","boundingbox":["50.8240715","50.8241715","-0.1506662","-0.1505662"],"lat":"50.8241215","lon":"-0.1506162","display_name":"Garden
        Of Babylon, 58-58a, Preston Street, North Laine Retail Area, Brighton, Brighton
        and Hove, South East, England, BN1 2HE, United Kingdom","class":"amenity","type":"restaurant","importance":0.201,"icon":"https:\/\/locationiq.org\/static\/images\/mapicons\/food_restaurant.p.20.png"}]'
  recorded_at: Tue, 10 Mar 2020 19:17:51 GMT
recorded_with: VCR 5.1.0
